/* Banner */
.brb-top {
  position: fixed;
  display: block;
  top: 0;
}
.brb-bottom {
  display: block;
  position: fixed;
  bottom: 0;
}
.brb-banner {
  width: 100%;
  color: #000;
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
}
.brb-referral-link {
  margin-left: 10px;
  text-decoration: none;
}
.brb-referral-close {
  font-weight: bold;
  font-size: 20px;
  float: right;
  color: #FFF;
  cursor: pointer;
  margin-top: -4px;
}
.brb-hidden {
  display: none;
}

/* Colors */
.bk-red {
  background: #EFD7D4;
}
.bk-yellow {
  background: #FDFAD3;
}
.bk-black {
  background: #000;
}
.bk-branded {
  background: #442B8D;
}
.bk-branded .brb-referral-link {
  color: #FB542B;
}
.bk-black .brb-referral-link {
  color: #FFF;
}
.bk-yellow .brb-referral-link {
  color: #556DBD;
}
.bk-red .brb-referral-link {
  color: #000;
}
.brb-banner.bk-black, .brb-banner.bk-branded {
  color: #FFF;
}
.bk-yellow .brb-referral-close {
  color: #556DBD;
}
.bk-red .brb-referral-close {
  color: #000;
}
