/* Preview */
.preview-hidden {
  display: none;
}
.preview-container {
  width: 95%;
}

/* Form */
.row-hidden {
  visibility: hidden;
}
.style-color {
  height: 28px;
  width: 28px;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
}
.sub-label {
  display: block;
  font-weight: normal;
  font-size: 11px;
  font-style: italic;
}