/* Preview */
.preview-hidden {
  display: none;
}
.preview-container {
  width: 95%;
}
.preview-text {
  margin-top: 0px;
}
.brave-image img {
  width: 100px;
  height: 100px;
}

/* Form */
.row-hidden {
  visibility: hidden;
}
.style-color {
  height: 28px;
  width: 28px;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
}
.sub-label {
  display: block;
  font-weight: normal;
  font-size: 11px;
  font-style: italic;
}
.brb-save {
  /* Important is needed to override primary button class */
  color: #fff !important;
  border: none !important;
  font-size: 15px !important;
  background-color: #FB542B !important;
}